[submodule "dependency/DepthCrafter"]
	path = dependency/DepthCrafter
	url = https://github.com/AndreyE/DepthCrafter.git
[submodule "dependency/Forward-Warp"]
	path = dependency/Forward-Warp
	url = https://github.com/AndreyE/Forward-Warp.git
