[submodule "dependency/DepthCrafter"]
	path = dependency/DepthCrafter
	url = git@github.com-AndreyE:/DepthCrafter.git
[submodule "dependency/Forward-Warp"]
	path = dependency/Forward-Warp
	url = git@github.com-AndreyE:AndreyE/Forward-Warp.git
